@model ApplicationUser
<h1>Edit Store Owner Password</h1>

<form asp-controller="Admins" asp-action="ChangeStoreOwnerPassword" method="post">
  <input asp-for="Id" type="hidden" value="@Model.Id" />
  <div class="form-group">
    <label>New Password</label>
    <input value="" name="PasswordHash" asp-for="PasswordHash" class="form-control" placeholder="Enter a new password" />
    <span asp-validation-for="PasswordHash" class="text-danger"></span>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" onclick="return alert('The password has been updated successfully!')">Update Password</button>
  </div>
</form>