We always appreciate the trust and support of our customers when shopping at Fahasa.com. Therefore, we always try to improve the best service to serve all your shopping needs.

FPTBook we always commit that all products sold at FPTBook are 100% quality products and have clear, legal and safe origins for consumers. In order for your shopping at Fahasa.com to be a friendly service experience, we hope you will double-check the following before receiving your goods:

Product information: product name and product quality.

The number of products.

Product and recipient information (Compared with the information on the delivery note placed in the box) upon receiving the goods before signing for receipt and paying the delivery staff.

In the rare case that the product you receive is defective, damaged or not as described, FPTBook is committed to protecting customers with a return / refund policy in the spirit of protecting the interests of consumers. To make a commitment to you about the quality of our products and services.

When you have goods purchased at FPTBook that need exchange/return/warranty/refund, please contact us via hotline 1900636467 or visit fahasa.com/chinh-sach-doi-tra-hang To learn more about the return/exchange policy:

<p class="text-wrap" style="width:70rem;font-weight:bold">
    1. Time to apply for exchange/return
</p>
FPTBook will receive information about your return request within 3 days from the time you receive the goods successfully.

After FPTBook confirms the email receipt of the processing request, FPTBook will contact you to confirm the information or ask for additional information (if any). Fahasa.com could not be contacted, sorry to refuse to process the request. Fahasa.com contact time during office hours up to 3 times within 7 days after receiving the requested information.

We will check the above cases and solve them for you up to 30 working days from the time you receive the goods.

<p class="text-wrap" style="width:70rem;font-weight:bold">
    2. Cases of requesting a return
</p>
Technical error of the product - due to the supplier (book missing pages, missing spine, duplicate content, electronic products, electric - electronic toys do not work ..)

Wrong delivery / missing delivery (missing ordered products, missing accessories, missing accompanying gifts)

Poor quality goods, damaged by transportation.

Product appearance is not the same as the original description.

You misplaced/no longer need (*)

(*) For non-defective Products, only applicable when the product meets the following conditions:

You can return products purchased at FPTBook within 30 days of receipt for most products when the following conditions are met:

The product has no signs of being used, with the manufacturer's stamp, label or seal intact.

The product has full accessories or warranty card and accompanying gift (if any).

If it is an electrical-electronic product, it has not been activated, and has not been able to write data to the device.

<p class="text-wrap" style="width:70rem;font-weight:bold">
    3. Conditions of return
</p>

FPTBook supports exchanging/returning products for you if:

The product is still in its original packaging.

The product is also full of accessories, promotional gifts attached.

VAT invoice (if any).

Provide sufficient reference information as required (Article 4).

<p class="text-wrap" style="width:70rem;font-weight:bold">
    4. Return Process
</p>

Please inform the order that you need to support to return and exchange via Hotline 1900636467 or email to the address: cskh@fahasa.com.vn with the subject "Order Return "Order Code".

You need to provide attached additional evidence for comparison/complaint below:

+ Video clip of opening the package from the time of opening the bond to checking the product inside the box.

+ Photo of the package stamp can show the order code.

+ Photos of the bonded condition (adhesive tape, seal, shape of the box, packaging), especially the locations suspected of having an impact on the product (distorted, wet, torn ...)

+ Pictures of the product's condition inside, specifying technical errors if any.

To ensure the interests of customers and for FPTBook to have a basis to work with relevant departments, all requests for exchange/return/warranty you need to provide pictures/videos of defective products. Past the time to exchange / return products, if we have not received enough pictures / clips from you, Fahasa.com would like to refuse to support.