<h1 class="text-center faq-title" >FPT BOOK STORE FAQs</h1>
<p class="text-wrap text-justify">
 We always appreciate the trust and support of our customers when shopping at Fptbook.com. Therefore, we always try to improve the best service to serve all your shopping needs.

FPTBook we always commit that all products sold at FPTBook are 100% quality products and have clear, legal and safe origins for consumers. In order for your shopping at Fptbook.com to be a friendly service experience, we hope you will double-check the following before receiving your goods:

Product information: product name and product quality.

The number of products.

Product and recipient information (Compared with the information on the delivery note placed in the box) upon receiving the goods before signing for receipt and paying the delivery staff.

In the rare case that the product you receive is defective, damaged or not as described, FPTBook is committed to protecting customers with a return / refund policy in the spirit of protecting the interests of consumers. To make a commitment to you about the quality of our products and services.

When you have goods purchased at FPTBook that need exchange/return/warranty/refund, please contact us via hotline 1900636467 or visit <a  asp-area="" asp-controller="Home" asp-action="HelpList">Fptbook.com/Home/HelpList</a> to learn more about the return/exchange policy:
</p>


<p style="width:70rem;font-weight:bold">
    1. Time to apply for exchange/return   
</p>
<p class="text-wrap text-justify">
 FPTBook will receive information about your return request within 3 days from the time you receive the goods successfully.

After FPTBook confirms the email receipt of the processing request, FPTBook will contact you to confirm the information or ask for additional information (if any). Fptbook.com could not be contacted, sorry to refuse to process the request. Fptbook.com contact time during office hours up to 3 times within 7 days after receiving the requested information.

We will check the above cases and solve them for you up to 30 working days from the time you receive the goods.
</p>



<p class="text-wrap text-justify" style="width:70rem;font-weight:bold">
    2. Cases of requesting a return
</p>
<p class="text-wrap text-justify">
Technical error of the product - due to the supplier (book missing pages, missing spine, duplicate content, electronic products, electric - electronic toys do not work ..)

Wrong delivery / missing delivery (missing ordered products, missing accessories, missing accompanying gifts)

Poor quality goods, damaged by transportation.

Product appearance is not the same as the original description.

You misplaced/no longer need (*)

(*) For non-defective Products, only applicable when the product meets the following conditions:

You can return products purchased at FPTBook within 30 days of receipt for most products when the following conditions are met:

The product has no signs of being used, with the manufacturer's stamp, label or seal intact.

The product has full accessories or warranty card and accompanying gift (if any).

If it is an electrical-electronic product, it has not been activated, and has not been able to write data to the device.

</p>


<p class="text-wrap text-justify" style="width:70rem;font-weight:bold">
    3. Conditions of return
</p>
<p class="text-wrap text-justify">
 FPTBook supports exchanging/returning products for you if:

 <ul class="dropdown list-group">
     <button style="width:22%;font-weight:bold;" class="btn btn-outline-success  dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Click to see our conditions 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
        <li class="dropdown-item list-group-item list-group-item-success">
         &#10003 The product is still in its original packaging.
     </li>
     
     <li class="dropdown-item list-group-item list-group-item-success">
        &#10003 The product is also full of accessories, promotional gifts attached.
     </li>
     
     <li class="dropdown-item list-group-item list-group-item-success">
        &#10003 VAT invoice (if any).
     </li>
     
     <li class="dropdown-item list-group-item list-group-item-success">
         &#10003 Provide sufficient reference information as required (Article 4).
     </li>
    </div>
     
 </ul>

</p>


<p class="text-wrap text-justify" style="width:70rem;font-weight:bold;">
    4. Return Process
</p>

<p class="text-wrap text-justify">
      
 Please inform the order that you need to support to return and exchange via Hotline 1900636467 or email to the address: cskh@fptbook.com.vn with the subject "Order Return "Order Code".
To ensure the interests of customers and for FPTBook to have a basis to work with relevant departments, all requests for exchange/return/warranty you need to provide pictures/videos of defective products. Past the time to exchange / return products, if we have not received enough pictures / clips from you, Fptbook.com would like to refuse to support.
 

<ul class="dropdown list-group">
    You need to provide attached additional evidence for comparison/complaint below:
     <button style="width:22%;font-weight:bold;" class="btn btn-outline-success dropdown-toggle text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Click to see our conditions 
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
        <li class="dropdown-item list-group-item list-group-item-success">
         &#10003 Video clip of opening the package from the time of opening the bond to checking the product inside the box.
     </li>
     
     <li class="dropdown-item list-group-item list-group-item-success">
        &#10003 Photo of the package stamp can show the order code.
     </li>
     
     <li class="dropdown-item list-group-item list-group-item-success">
        &#10003 Photos of the bonded condition (adhesive tape, seal, shape of the box, packaging), especially the locations suspected of having an impact on the product (distorted, wet, torn ...)
     </li>
     
     <li class="dropdown-item list-group-item list-group-item-success">
         &#10003 Pictures of the product's condition inside, specifying technical errors if any.
     </li>
    </div>

 </ul>
</p>
