@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Categories" asp-action="Index" class="btn btn-info"> 
          Manage Categories
    </a>
    <a asp-controller="Books" asp-action="Index" class="btn btn-info"> 
          Manage Books
    </a>
</div>
