@model IEnumerable<PassAppDev.Models.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<a asp-controller="Categories" asp-action="Index" class="btn btn-info">
		Manage Categories
	</a>
	<a asp-controller="Books" asp-action="Index" class="btn btn-info">
		Manage Books
	</a>
	<a asp-controller="CartBooks" asp-action="Index" class="btn btn-info">
		Shopping Cart
	</a>
	<a asp-controller="Orders" asp-action="Index" class="btn btn-info">
		View List of Orders
	</a>
</div>

@foreach (var item in Model)
{
<div class="card" style="width:200px">
  <img 
    class="card-img-top" 
    src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png" 
    alt="Todo image">
	<div class="card-body">
		<h4 class="card-title">@item.Title</h4>
		<a asp-controller="Home" asp-action="BookDetails" asp-route-id=@item.Id class="btn btn-info">
			Details
		</a>
	</div>
</div>
}
