@{
	ViewData["Title"] = "Index";
}
@model IEnumerable<PassAppDev.Models.Order>

<h1>List of Orders</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Order ID</th>
			<th scope="col">Customer Name</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.Id</th>
				<td>@item.ApplicationUser.FullName</td>
				<td>
					<a asp-controller="Stores" asp-action="Details" asp-route-id=@item.Id class="btn btn-success">
						Details
					</a>
				</td>
			</tr>

		}
	</tbody>
</table>
