/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#greeting {
    margin: 2.5% 2.5% 1% 0;
}

    #greeting::before {
        content: "Welcome to FPT Book Store";
        font-size: 4vw;
        font-weight: 700;
        font-family: 'PT Sans', sans-serif;
        padding-left: 10px;
        animation: animateAbove 1 1.5s;
        color: #034ea2;
    }



@keyframes animateAbove {
    5% {
        content: "W\220E";
    }

    10% {
        content: "We\220E";
    }

    15% {
        content: "Wel\220E";
    }

    20% {
        content: "Welc\220E";
    }

    25% {
        content: "Welco\220E";
    }

    30% {
        content: "Welcom\220E";
    }

    35% {
        content: "Welcome\220E";
    }

    40% {
        content: "Welcome t\220E";
    }

    45% {
        content: "Welcome to\220E";
    }

    50% {
        content: "Welcome to \220E";
    }

    55% {
        content: "Welcome to F\220E";
    }

    60% {
        content: "Welcome to FP\220E";
    }

    65% {
        content: "Welcome to FPT\220E";
    }

    70% {
        content: "Welcome to FPT \220E";
    }

    75% {
        content: "Welcome to FPT B\220E";
    }

    80% {
        content: "Welcome to FPT Bo\220E";
    }

    85% {
        content: "Welcome to FPT Boo\220E";
    }

    90% {
        content: "Welcome to FPT Book \220E";
    }

    95% {
        content: "Welcome to FPT Book St\220E";
    }

    100% {
        content: "Welcome to FPT Book Stor\220E";
    }
}


.book-title {
    color: #2D3791;
}

    .book-title:hover {
        color: #F06E28;
    }

.book-author {
    margin: 7% 0 7% 0%;
}

.btn-info {
    background-color: #034ea2;
    border-color: #034ea2;
}

    .btn-info:hover {
        background-color: #F06E28;
        border-color: #F06E28;
    }

.cart-button {
    font-size: 20px;
    margin-top: 5%;
}

.card-body {
    border-radius: 0 0 16px 16px;
}

.greeting-by-role {
    font-size: 2vw;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
}

.faq-title {
    font-size: 3vw;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    color: #034ea2;
}


.rounded-pill {
    width: 50%;
}

.bi-cart4 {
    font-size: 1.2vw;
}

.navbar-text {
    font-size: 1.2vw;
    text-decoration: none;
}

.quantity-edit-btn {
    font-size: 1.4vw;
    color: black;
}

    .quantity-edit-btn:hover {
        text-decoration: none;
    }

#dropdownMenuLink {
    color: #034ea2;
}

    #dropdownMenuLink:hover {
        color: #F06E28;
        cursor: pointer;
        position: relative;
        top: -2px;
    }

.search-btn {
    margin-left: 5px;
    background-color: #fff;
    font-size: 1.4vw;
    border: none;
    color: #034ea2;
}

    .search-btn:hover {
        color: #F06E28;
    }

.btn {
   border-radius:8px;
}

label {
    color: #F06E28;
    
}